disnake  # Для роботи з Discord API. Бо без цього бот — як трамп.(безкорисний і без корисних копалин) 🤖
json     # Для роботи з конфігураціями. Бо так сказав великий Зелібоба. 📂
logging  # Для логування. Щоб знати, хто винен, якщо щось зламається. 🛠️
random   # Для випадкових чисел. Бо життя — це рулетка. 🎲
asyncio  # Для асинхронності. Бо живемо в 2025 році. 🚀